<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
          background-color: lightgrey;
      }

      .header {
        display: flex;
        justify-content: center;
      }

      h1 {
          color: maroon;
          margin-left: 40px;
      }

      .container {
        display: flex;
        justify-content: center;
      }

      .box {
        height: 150px;
        width: 150px;
        margin: 10px;
      }

    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Welcome!</h1>
      </div>
      <div class="container">
        {% for x in range(0, num): %}
        <div class="box" style="background-color:{{color}}"></div>
        {% endfor %}
        </div>

      </div>
    </div>
  </body>
</html>
